.user-edit-form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: transparent;
  align-items: center;     /* Centriranje sadržaja horizontalno */
  text-align: center;
  font-size: 15pt;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.permissions {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;      /* Centriranje celog sadržaja unutar permissions div-a */
  justify-content: center;  /* Poravnanje sadržaja vertikalno */
}

.permission-item {
  display: flex;
  align-items: center;      /* Poravnanje checkbox-a i teksta u istoj liniji */
  margin-bottom: 10px;      /* Razmak između stavki */
  justify-content: center;  /* Centriranje svakog checkbox-a sa tekstom */
}

.permission-item label {
  display: inline-flex;    /* Pomeranje checkbox-a i teksta u istu liniju */
  align-items: center;     /* Poravnanje checkbox-a i teksta u istoj visini */
  justify-content: flex-start; /* Poravnanje levo, ako je potrebno */
}

.permission-item span {
  margin-right: 5px;        /* Manji razmak između teksta i checkbox-a */
}

input[type="checkbox"] {
  margin-left: 10px;         /* Manji razmak između checkbox-a i teksta */
  vertical-align: middle;   /* Osigurava da checkbox bude poravnat sa tekstom */
}


button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}
